/* {
  outline: 1px solid red;
}*/

html, body {
  height: 100%;
  margin: 0px;
}

.section {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0px;
}


/* Intro section */


.polygon {
  height: 111.588%;
  background-image: linear-gradient(#EF8942, #D44312);
  clip-path: polygon(0% 100%, 100% 90%, 100% 0%, 0% 0%);
  -webkit-clip-path: polygon(0% 100%, 100% 90%, 100% 0%, 0% 0%);
}

.line {
  border-bottom: 1px solid #FBE1D7;
}

.line_1 {
  width: 100%;
  padding-top: 5px;
  margin: 0px;
}

.section_1_sidebar {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 7.5%;
  height: 86%;
  margin-top: -5px;
  border-right: 1px solid #FBE1D7;
}

.logo {
  width: 66%;
  padding-top: 27%;
  padding-bottom: 75%;
}

.links {
  display: flex;
  align-items: center;
  height: 3%;
  width: 100%;
  padding: 6% 0%;
}

.clickable_contents {
  font-family: Arial;
  font-size: 1.3vw;
  color: #A94C0A;
  text-decoration: none;
  margin-left: auto;
}

.clickable_contents:hover {
  font-size: 1.4vw;
  color: #FFE0D6;
}

.links img {
  width: 8%;
  margin-left: auto;
  margin-right: -4%;
}

.line_2 {
  width: 127%;
  margin: auto -180% 25% 0%;
}

.section_1_content {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  vertical-align: top;
  width: 92%;
  height: 82.5%;
}

.social_icons {
  display: flex;
  width: 15%;
  margin: 2.6% 3.3% 5% auto;
  justify-content: space-between;
}

.clickable_social {
  width: 16%;
}

.href_img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.description {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 76%;
  height: 75%;
}

.name {
  height: 23%;
  margin: 0px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 5.2vw;
  font-weight: 700;
  color: #FFE0D6;
}

.emphasis {
  color: #103470;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 50%;
  height: 77%;
}

.container_design {
  border-right: 1px solid #FBE1D7;
}

.domain {
  margin: 15% 0 0 0;
  font-family: Arial;
  font-size: 1.75vw;
  font-weight: bold;
  color: #FFE0D6;
  text-align: center;
}

.container hr {
  height: 1px;
  width: 27%;
  border: 0px;
  margin: 3% 0% 5% 0%;
  background: #FBE1D7;
}

.domain_content {
  width: 64%;
  text-align: justify;
  margin: 0px;
  font-family: Arial;
  font-size: 1.3vw;
  color: #FFBCA5;
}

.clickable_scroll {
  display: inline-block;
  width: 3.5%;
  transform: translateY(50%);
  margin-top: auto;
}

.clickable_hire_me {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  height: 5%;
  width: 8%;
  border-radius: 0.5rem 0.5rem 0 0.5rem;
  background: #FFBCA5;
  text-decoration: none;
  font-family: Arial;
  font-size: 1.3vw;
  font-weight: bold;
  color: #C45E1C;
  margin: 0 3.3% auto 0;
}

/* Projects */


.section_2, .section_4 {
  background-color: #FFF5EE;
}

.section_2 {
  justify-content: center;
  align-items: center;
}

.project_cards {
  display: flex;
  justify-content: space-between;
  height: 52%;
  width: 70%;
  margin: 0 auto;
}

.project_card {
  height: 100%;
  width: 30%;
  background: #FFFFFF;
}

/* Project 001 */

.section_3, .section_5 {
  background-color: #FED8BE;
}

.section_6 {
  height: 13.541%;
  background-image: linear-gradient(#EF8942, #D44312);
}
