* {
  outline: 1px solid red;
}

html, body {
  height: 100%;
  margin: 0px;
}

.section {
  height: 100%;
  width: 100%;
}

.polygon {
  height: 111.588%;
  background-image: linear-gradient(#EF8942, #D44312);
  clip-path: polygon(0% 100%, 100% 90%, 100% 0%, 0% 0%);
  -webkit-clip-path: polygon(0% 100%, 100% 90%, 100% 0%, 0% 0%);
}

.section_2, .section_4 {
  background-color: #FFF5EE;
}

.section_3, .section_5 {
  background-color: #FED8BE;
}

.section_6 {
  height: 13.541%;
  background-image: linear-gradient(#EF8942, #D44312);
}

.line {
width: 100%;
padding-top: 5px;
border: 1px solid #FBE1D7;
}
